li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

div#show {
    margin: 2em 2em;
    border: 18px solid lightgrey;
    height: 2em;
    width: 16em;
    background-color: lightblue;
    text-align: center;
}

div.calc {
    background-color: green;
    border-radius: 1em;
    border: 5px solid yellow;
    width: 20%;
    margin: auto;
}

input {
    padding: 1.5em;
    color: white;
    border-radius: 50%;
    background-color: purple;
    border: 2px solid white;
}
